div {
  align-content: center;
  display: flex;
  height: 100vh;
  margin: auto;
}

form {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
}

label {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin: 5px;
  padding: 5px;
}

input {
  height: 25px;
}